.mat-card-simples{
  max-width: 300px;
  background-color: aliceblue;
  margin-top: 10px;
}

.mat-card-principal{
  padding-left: 5px;
  background-color: aliceblue;
}

.mat-card-footer{
  max-width: 300ox;
  text-align: center;
}